<% layout(`./layouts/boilerplate`) %> 

<div class="container justify-content-center align-items-center mt-5 mb-5">
    <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Edit</h5>
                <form action="/todos/<%= todo._id %>?_method=PUT" method="POST" class="validated-form" novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="todo[title]" id="title" value="<%= todo.title %>" required>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" name="todo[description]" id="description" value="<%= todo.description %>">
                    </div>

                    <div class="mb-3">
                        <label for="deadline" class="form-label">Deadline</label>
                        <input type="date" class="form-control" name="todo[deadline]" id="deadline" value=<%= date %>>
                    </div>

                    <button class="btn btn-success w-100">Update ToDo</button>
                </form>
            </div>
        </div>
    </div>
</div>